.bar{
    box-shadow: none !important;
}

.navbar_toolbar{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.navbar_toolbar-opcoes {
    display: flex;
    gap: 1rem;
}

.toolbar-item{
    color: #6D523E;
}

.toolbar-item:hover{
    color: #B85851;
    transition: 0.3s;
}